services:
    pgsql:
        image: "postgres:17"
        ports:
            - "${DB_PORT:-5432}:5432"
        environment:
            POSTGRES_DB: "${DB_DATABASE}"
            POSTGRES_USER: "${DB_USERNAME}"
            POSTGRES_PASSWORD: "${DB_PASSWORD:-secret}"
            PGPASSWORD: "${DB_PASSWORD:-secret}"
        volumes:
            - "./docker/data/pgsql/data:/var/lib/postgresql/data"
        networks:
            - recipe-hub-backend
        healthcheck:
            test:
                - CMD
                - pg_isready
                - "-q"
                - "-d"
                - "${DB_DATABASE}"
                - "-U"
                - "${DB_USERNAME}"
            retries: 3
            timeout: 5s
    redis:
        image: "redis:alpine"
        ports:
            - "${REDIS_PORT:-6379}:6379"
        volumes:
            - "./docker/data/redis/data:/data"
        networks:
            - recipe-hub-backend
        healthcheck:
            test:
                - CMD
                - redis-cli
                - ping
            retries: 3
            timeout: 5s
    mailpit:
        image: "axllent/mailpit:latest"
        ports:
            - "${MAILPIT_PORT:-1025}:1025"
            - "${MAILPIT_DASHBOARD_PORT:-8025}:8025"
        networks:
            - recipe-hub-backend
networks:
    recipe-hub-backend:
        driver: bridge
